<h2>Events</h2>


<%- @events.each do |event| %>
<h3><%= link_to(event.organizer, event_path(event) )%></h3>
<ul>
<h2><%= event.organizer %></h2>
<li><%= event.sponsor %></li>
<li><%= event.name %></li>
    <li><%= event.city %></li>
    <li><%= event.country %></li>
</ul>
<% end %>







