<h2>Locations</h2>

<%= @locations.each do |location| %>
<h3><%= link_to(location.name, location_path(location) )%></h3>
<ul>
<h2><%= location.name %></h2>
    <li><%= location.city %></li>
    <li><%= location.country %></li>
</ul>
<% end %>













