

<h1><%= @location.name %></h1>
<p><%= @location.venue %></p>
<p><%= @location.city %></p>
<p><%= @location.country %></p>
<p><%= @location.url %></p>
<p><%= @location.phone %></p>
<p><%= @localtion.nearby %></p>





